@model Auction.Models.DomainModels.Stake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoursForAuctionEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursForAuctionEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentStake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LotId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StakeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
