@model IEnumerable<Auction.Models.ViewModels.LotViewModel>

<div class="modal-content">
    <table class="table table-striped table-hover table-responsive table-condensed table-bordered tab-content">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialStake)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastDateOfStake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StakeTimeout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastStake)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr class="no-shadow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>  
                <td>
                    <img class="img-content" src=@item.ImagePath />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialStake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDateOfStake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StakeTimeout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastStake)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.LotId }, new { @class = "btn btn-warning", title = "Edit" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.LotId }, new { @class = "btn btn-danger", title = "Delete" })
                        }
                        <span id="loading_@item.LotId" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display: none"></span>
                        <ul class="block-frame">
                            @if (item.LastStake == null)
                            {
                                <li>
                                    @Ajax.ActionLink("+", "Create", "Stakes", new { id = item.LotId }, new AjaxOptions
                                    {
                                        UpdateTargetId = "lotsAndStakes",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "Get",
                                        Confirm = "Sure you want to a make stake?",
                                        LoadingElementId = "loading_" + item.LotId
                                    }, new { @class = "btn btn-default" })
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Ajax.ActionLink("+5%", "Create", "Stakes", new { id = item.LotId, stakeIncrease = 1.05 }, new AjaxOptions
                                    {
                                        UpdateTargetId = "lotsAndStakes",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "Get",
                                        Confirm = "Sure you want to make a stake?",
                                        LoadingElementId = "loading_" + item.LotId
                                    }, new { @class = "btn btn-default" })
                                </li>
                                <li>
                                    @Ajax.ActionLink("+10%", "Create", "Stakes", new { id = item.LotId, stakeIncrease = 1.1 }, new AjaxOptions
                                    {
                                        UpdateTargetId = "lotsAndStakes",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "Get",
                                        Confirm = "Sure you want to make a stake?",
                                        LoadingElementId = "loading_" + item.LotId
                                    }, new { @class = "btn btn-default" })
                                </li>
                                <li>
                                    @Ajax.ActionLink("+20%", "Create", "Stakes", new { id = item.LotId, stakeIncrease = 1.2 }, new AjaxOptions
                                    {
                                        UpdateTargetId = "lotsAndStakes",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "Get",
                                        Confirm = "Sure you want to make a stake?",
                                        LoadingElementId = "loading_" + item.LotId
                                    }, new { @class = "btn btn-default" })
                                </li>
                            }
                        </ul>
                    </td>
                }
            </tr>
        }
    </table>
</div>
