@model IEnumerable<Auction.Models.ViewModels.LotViewModel>

@{
    ViewBag.Title = "Stakes";
}

<h1>Stakes</h1>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", title = "Add" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialStake)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastDateOfStake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursForAuctionEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStake)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialStake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDateOfStake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursForAuctionEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStake)
            </td>
            <td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.LotId }, new { @class = "btn btn-warning", title = "Edit" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.LotId }, new { @class = "btn btn-danger", title = "Delete" })
                }
                @Html.ActionLink("+5%", "Delete", new { id = item.LotId }, new { @class = "btn btn-primary", title = "Add" })
                @Html.ActionLink("+10%", "Delete", new { id = item.LotId }, new { @class = "btn btn-primary", title = "Add" })
                @Html.ActionLink("+20%", "Delete", new { id = item.LotId }, new { @class = "btn btn-primary", title = "Add" })
            </td>
        </tr>
    }

</table>
